eligibilityTrackingType                 Account
eligibilityTrackingNum                  32
eligibleShareTypes                      1,10
disableWarningCodes                     7,13,88
dailyDepositsCount                      usernumber1
dailyDepositsLimit                      usernumber2
dailyAmount                             useramount1
dailyAmountLimit                        useramount2
periodDepositsCount                     
periodDepositsLimit                     
periodAmount                            
periodAmountLimit                       
singleItemLimit                         useramount5
