[############################################################
BANNO.NEWSUBCREATE.V1.CFG

This file is used for configuration of the
BANNO.NEWSUBCREATE.V1.POW program

This file is created & updated by using the 
on-demand program: BANNO.NEWSUBCREATE.V1.CONFIG

** DO NOT UPDATE THIS FILE MANUALLY!! **

[############################################################

#!CONFIGPROGRAMVER
1.5.1c 12/18/25
#!WARNINGS
02
#!ACCTTYPES

#!MAXNEWNAMES
00
#!DISPLAYRATESFLAG
0
#!SETFILLINRATESFLAG
0
#!REQUIREFUNDINGFLAG
0
#!MINFUNDINGAMT
0.00
#!ALLOWNAMESFLAG
1
#!NAMELEVEL
01
#!NAMETRACKINGTYPE
00
#!NAMETYPESAFE

#!NAMETYPEUNSAFE

#!NAMECOPYSHAREFLAG
1
#!NAMECOPYSHARETYPES
1,4-11,14
#!NAMECOPYLOANFLAG
1
#!NAMECOPYLOANTYPES
1,4-11,14
#!SACTESTMODEFLAG
0
#!SACTESTMODEACCOUNTLIST

#!SACCUSTAFFEMAILADDRESS

#!SACCUSTAFFEMAILSUBJECT

#!SACPROGRAMINSTALLDATE
07/08/2026
#!CUSTOMMSGSLETTERFILE
BANNO.NEWSUBCREATE.V1.MSGS
#!ERRORCODECHR500
System is in Memo Post Mode
#!ERRORCODECHR501
Config file read error
#!ERRORCODECHR502
Account warning exists
#!ERRORCODECHR503
Ineligible account type
#!ERRORCODECHR504
No eligible shares to be created
#!ERRORCODECHR505
Error reading ToC for group
#!ERRORCODECHR506
No Shares with sufficient funds to xfer
#!ERRORCODECHR507
Error reading passed name info
#!ERRORCODECHR508
Next ID calculation error
#!ERRORCODECHR509
Error getting new share rate
#!ERRORCODECHR510
Could not calculate new maturity date
#!ERRORCODECHR511
Error creating new share
#!ERRORCODECHR512
No more shares of this type can be created
#!ERRORCODECHR513
Error calculating fee
#!ERRORCODECHR514
Error reading fee disclosure for group
#!ERRORCODECHR515
No existing open Shares/Loans on the account
#!ERRORCODECHR600
Error getting term data from Letter file
#!SHARE TYPES00:Savings
0001:0001-0009:10
0000:0000-0009:15
0015:0015-0019:20
0100:0100-0105
0011:0001-0099:25
#!SHARE TYPES01:Certificates
0120:0100-0200:2
#!SHARE TYPES02:

#!SHARE TYPES03:

#!SHARE TYPES04:

#!SHARE TYPES05:

#!SHARE TYPES06:

#!SHARE TYPES07:

#!SHARE TYPES08:

#!SHARE TYPES09:

#!SHARE TYPES10:

#!SHARE TYPES11:

#!SHARE TYPES12:

#!SHARE TYPES13:

#!SHARE TYPES14:

#!SHARE TYPES15:

#!SHARE TYPES16:

#!SHARE TYPES17:

#!SHARE TYPES18:

#!SHARE TYPES19:

#!TESTERRORCODE
000
#!End of File

 